name: Publish to JSR

on:
  push:
    branches:
      - main
    paths:
      - "pkg/**"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Publish package
        run: npx jsr publish
        working-directory: ./pkg
